<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>

    <div th:if="${error}" class="message error">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${message}" class="message success">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
</div>
</body>
<script src="index.js"></script>
</html>
